body , html{
margin: 0;
padding:0;
background-color:#dcdcdc;
height:100%;
width:100%;
}

body{
	background-image:url("../css/bg.gif");

}

body#top{
	background-repeat: repeat-x;
	background-position:50%, 0%;

}

div{
	display:block;
}

#main{
position:absolute;
top:50%;
left:50%;
height:160px;
width:580px;
font-size:12px;
margin:-240px 0 0 -290px;
}


#log_m{
width:300px;
padding-left:320px;
padding-top:45px;
}

#log_s{
float:left;
padding-top:70px;
}

#log_s:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

li{
	margin-top:2px;
}

#footer{
	clear:both;
	position:relative;
	top:60%;
	left:20%;
	color: #646464;
	line-height: 1.8;
}
