body , html{
margin: 0;
padding:0;
color: #333;
background-color:#dcdcdc;
height:100%;
}


#wrapper{
	margin:0 auto 0 auto;
	padding:0;
	background-color:#ffffff;
	width: 910px;
	font-size:80%;

	position: relative;


	box-shadow: 0px 0px 10px #565656;
	border-color: #898989;
	border-style: solid;
	border-width: 0px 5px;
}

#contents{
	margin:0;
	padding:0 0 30px 0;
	width: 100%;
	min-height: 100%;
	height: auto !important;  /*IE6ÓÃ*/
	height: 100%;
	background-color:#dcdcdc;
}

#header{
	height:105px;
	padding:-5px;
	margin:0;
	border-bottom:5px solid #008c87;
	background-color:#ffffff;
}

#head-left{
	float:left;
	height:100%;
	width:200px;
}

#head-right{
	position:relative;
	height: 100%; 
	padding-top:10px;
	padding-right:20px;
	padding-left:15px;
	margin-left:200px;
}

#menu{
	position:absolute;
	bottom:10px;
}

#header:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}


/*¥ê¥ó¥¯*/
a{
	color:#0060B6;
	text-decoration:none;

}

a:hover{
	text-decoration:underline;
}

#pagebodysub{
	text-align: center;
	margin:0;
	padding:0;
	float:left;
	width:200px;
	height:100%;
}


#pagebodymain{
	min-height:100%;
	height:100%;
	margin-left:200px;
	padding-top:20px;
	padding-right:20px;
	padding-left:15px;
	width:675px;
	background-color:#ffffff;
}

#contents:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color:#6D6D6D;
	text-align:center;
	font-size:90%;
	padding-top:10px;

}
/***************¥µ¥¤¥É¥Ð©`************************************/

#acc{
	text-align: left;
}

#height{
	height:25%;
}

div.pulldown_menu{
	font-size: 13px;
	margin-left: 0px;
}


ul.side_list{
	padding: 0;
	margin-top: 0 0;
	list-style-image:url(../css/folder5_r1_c5.gif); 
	line-height: 20px;
}

/************************************************************************/


/*********************************************¥¿¥Ö*********************/
ul.menu {
list-style: none; /* ÏÈî^Ó›ºÅ¤òÏû¤¹ */
width: 670px;
margin-left:-40px;
}
ul.menu li {
float: left; /* ¥ê¥¹¥Èí—Ä¿¤òºá·½Ïò¤ËK¤Ù¤ë */
width: 20%; /* ¥ê¥¹¥Èí—Ä¿¤Î·ù */
}

/************************************************************************/


#left {
	text-align: left;
}

#right {
	text-align: right;
}

/*±í*/
table{
	border: 1px solid #CCCCCC; 
	border-collapse: collapse;
	text-align:left;
	width : 100%;
}
#index_table1{
	table-layout : fixed;
	border: 1px solid #CCCCCC; 
	border-collapse: collapse;
	text-align:left;
	width : 100%;
}

#posfinish_table2{
	table-layout : fixed;
	border: 1px solid #CCCCCC; 
	border-collapse: collapse;
	text-align:left;
	width : 100%;
}
table th, table tr{
	text-align:left;
	border:1px solid gray;
	padding: 5px 10px;
	font-weight:normal;
	font-size:12px;
}

th.a{
	background-color: #E1E1E1;
	text-align: center;
}

th.b{

	font-size:15px;
	text-align:center;
	background-color: #787878;
	color: #fff;
}

tr.a{
	background-color: #E1E1E1;
}

tr.table-even{
	background-color: #FFFFFF;
}

tr.table-odd{
	background-color: #EFEFEF;
}

#cus_new th.a{
	width:85px;
}

#staff th.a{
	width:80px;
}

#posm_row th.b{
	text-align:center;
}

#posm_row th.a{
width:40px;
text-align:center;
}

#posm_row th{
width:90px;
text-align:right;
}

#details_low th{
text-align:right;
}

#details_low th.a{
text-align:right;
width:100px;
}

/*ÒŠ³ö¤·*/
h1{
	font-weight: normal;
	height: 35px;
	margin: 0 0 20px 0;
	padding: 0 0 0 15px;
	background: url(../css/title.gif) no-repeat left top;
	line-height: 35px;
	font-size: 14px;}

#Item_detail{
background-color:#50c2a5;
}